.container {
    width: 700px;
    height: 450px;
    box-shadow: 0px 10px 10px black;
    margin: auto;
}
.title {
    text-align: center;
}
.output {
    width: 600px;
    height: 190px;
    margin: 0 auto;
    padding: 10% 8px;
    background: url('./purple.jpg') 100%;
    background-size: 650px;
    background-repeat: no-repeat;
}
.output1 {
    width: 30%;
    height: 190px;
    text-align: center;
    float: right;
    box-shadow: 0px 5px 10px black;
    border: 7px solid rgb(255, 255, 255);
}
.output2 {
    width: 30%;
    height: 190px;
    text-align: center;
    float: left;
    box-shadow: 0px 5px 10px black;
    border: 7px solid rgb(255, 255, 255);
}
.output3 {
    width: 30%;
    height: 190px;
    text-align: center;
    margin: auto;
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 10px black;
}
.img1 {
    width: 130px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
}
.img2 {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    object-fit: cover;
}
.img3 {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}